* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.parent {
  height: 100vh;
  border: 20px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  font-weight: bolder;
}

.parent button {
  font-size: 20px;
  padding: 20px;
}
